footer {
    background-color: #222222;
    & h5{
        color: #D8D8D8;
        font-weight: 700;
        font-size: 1.2rem;
    }
    & li{
        padding-bottom: 4px;
        & a{
            font-size: 0.8rem;
            color: #999;

            &:hover{
                color: #D8D8D8;
            }
        }
    }
    & p{
        color: #999;
    font-size: 0.8rem;
    }
    & .copyright a{
        color: #000;
        width: 38px;
        height: 38px;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
        transition: 0.3s ease;
        margin: 0 5px;
        &:hover{
            color: #fff;
            background-color: #fb774b;
        }
    }
}



